@mixin flex($gap: 0, $type: row, $justify: normal, $align: normal) {
    display: flex;
    gap: $gap;
    flex-direction: $type;
    align-items: $align;
    justify-content: $justify;
}

@mixin text($color: black, $size: normal, $weight: 400, $opacity: 1, $space: 0, $height: 100%) {
    color: $color;
    opacity: $opacity;
    letter-spacing: $space;
    line-height: $height;

    font: {
        size: $size;
        weight: $weight;
    }
}

@mixin border {
    border: none;
    box-shadow: $primaryBorder;
}

@mixin hr {
    content: "";
    height: 0;
    @include border;
    width: 100%;
}