@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/utilities";

@import "./sections/footer";
@import "./sections/header";
@import "./sections/inbox";
@import "./sections/last-recipe";
@import "./sections/choices";
@import "./sections/headline";


* {
    padding: 0;
    font-size: 16px;
    font-family: "Inter";
    margin: 0;
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.row,
.container,
ul,
li
span {
    margin: 0;
    padding: 0;
}

body>* {
    padding: 0 80px !important;
}

:root {
    font-size: 60px;
}

