.categories {
    >div {
        &:first-child {
            h2 {
                @include text($weight: 600, $size: 48px)
            }

            button {
                @include text($color: black, $weight: 600, $size: 16px);
                background-color: $primaryColor;
            }
        }

        &:last-child {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(202px, 1fr));

             .my-col {
                .blue-imager {
                    width: 60%;
                    height: 50%;
                    padding: 10px;
                    
                    .image-copy {
                        width: 70%;
                        right: 0;
                        bottom: 0;
                        filter: blur(10px);
                        opacity: 50%;
                    }
                }
                --bs-bg-opacity: 0.1;

                &:nth-child(1) {
                    background: linear-gradient(to top, rgba(112, 130, 70, 0.1), white 70%);
                }

                &:nth-child(2) {
                    background: linear-gradient(to top, rgba(var(--bs-success-rgb), var(--bs-bg-opacity)), white 70%);

                    img {
                        filter: drop-shadow(25px 25px 25px var(--bs-success));
                    }
                }

                &:nth-child(3) {
                    background: linear-gradient(to top, rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)), white 70%);
                }

                &:nth-child(4) {
                    background: linear-gradient(to top, rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)), white 70%);
                }

                &:nth-child(5) {
                    background: linear-gradient(to top, rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)), white 70%);
                }

                &:nth-child(6) {
                    background: linear-gradient(to top, rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)), white 70%);
                }

                h3 {
                    @include text($size: 18px, $weight: 600);
                    letter-spacing: -2%;
                }
            }
        }
    }
}